.box{
    width: 100%;
    height: auto;
    border: 10px solid rgb(128, 190, 231);
    background-color: rgb(192, 230, 255);
    display: flex;
}
.cajita1{
    width: 250px;
    height: 320px;
    border: 10px dashed rgb(41, 105, 148);
    margin-left: 120px;
    margin-top: 50px;
    margin-bottom: 50px;
}
img{
    width: 230px;
    height: 230px;
    padding: 10px;

}
h1{
    text-align: center;
    font-size: 25px;
}